/* -------------------------------------------------------------------------- */
/*                                   config                                   */
/* -------------------------------------------------------------------------- */
/* ---------------------------------- BLOCK --------------------------------- */
.array_of_products {
  //!structure
  margin: 0 40px;
}
//? --------------------------------- ELEMENT -------------------------------- */
.array_of_products__title {
  //!structure
  text-align: center;
  margin: 50px 0px;
  //!theme
  color: #564aff;
  font-weight: bolder;
}
//? -------------------------------- MODIFIER -------------------------------- */

//? -------------------------------------------------------------------------- *//
//?                                 BREAK POINT                                *//
//? -------------------------------------------------------------------------- *//
//! ONLY STRUCTURE IS MODIFY
// @media screen and (max-width: 1366px) {
// }

@media screen and (max-width: 1024px) {
  //?---------------------------------- BLOCK --------------------------------- */
  .array_of_products {
    //!structure
    margin: 0 20px;
  }
}

// @media screen and (max-width: 768px) {
// }

@media screen and (max-width: 568px) {
  //?---------------------------------- BLOCK --------------------------------- */
  .array_of_products {
    //!structure
    margin: 0 10px;
  }
}

// @media screen and (max-width: 320px) {
// }
