/* -------------------------------------------------------------------------- */
/*                                   themes                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "roboto";
  src: url(../../../assets/fonts/Roboto-Regular.ttf);
}
/* -------------------------------------------------------------------------- */
/*                                   config                                   */
/* -------------------------------------------------------------------------- */
/* ------------------------------------ * ----------------------------------- */
/* ------------------------------------ * ----------------------------------- */
//? ---------------------------------- BLOCK --------------------------------- */
.home {
  //!structure
  display: flex;
  justify-content: space-between;
  //!theme
  background-color: #fbfbfb;
  font-family: roboto;
}
//? -------------------------------------------------------------------------- */
//?                                 BREAK POINT                                */
//? -------------------------------------------------------------------------- */
@media screen and (max-width: 1366px) {
  .home {
    //!structure
    display: flex;
    flex-direction: column;
  }
}

// @media screen and (max-width: 1024px) {
// }

// @media screen and (max-width: 768px) {
// }

// @media screen and (max-width: 568px) {
// }

// @media screen and (max-width: 320px) {
// }
