<article class="product">
    <!-- ---------------------------------- . ---------------------------------- -->
    <!-- ---------------------------------- . ---------------------------------- -->
    <div class="product__name">
        <span>{{productName}}</span>
    </div>
    <!-- ---------------------------------- . ---------------------------------- -->
    <div class="product__category">
        <span class="{{classCategory}} structure_category">{{productCategory}}
        </span>
    </div>
    <div class="product__price">
        <span>{{productPrice}}€</span>
    </div>
    <!-- ---------------------------------- . ---------------------------------- -->

    <div class="product__tva">
        <span>{{tvaPrice}}€</span>
    </div>
    <!-- ---------------------------------- . ---------------------------------- -->
    <!-- ---------------------------------- . ---------------------------------- -->
</article>